@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#page-home {
    font-family: "Lato", sans-serif;
}

#page-home .header {
    background-color: rgb(184, 90, 163);
    
    justify-content: center;
    text-align: center;
    
    padding: 32px 8px;
    margin-bottom: 24px;
}

#page-home .header h1 {
    font-size: 3em;
    color: white;
}

#page-home .header h2 {
    font-size: 1.5em;
    color: white;
}

#page-home .header .logo {
    width: 256px;
    height: 256px;
}